extends layout

block content
  .row
    .col-sm.12
      .well
        h1 Hi this is Rin!
          h4 Below are links to videos I have!
      .well
        -each docs in data
          .items
            .well
              a(href="/vid/" +docs.vid)
                h4 #{docs.title}
              p added by #{docs.users}