extends layout

block content
  .row
    .col-sm-12
      .centered
        .well
          h1 #{data.title}
        .well
          a(href="http://youtube.com/watch?v=" +data.vid)
            h2 http://youtube.com/watch?v=#{data.vid}
          H4 added by:
          -each user in data.users
            p= user
        .well
          iframe(width="560" height="315" src="//www.youtube.com/embed/" +data.vid frameborder="0" allowfullscreen)
          